.footer{
    font-family: 'Inter';
    @media (max-width:1400px){
        padding: 15px 0px 15px;
    }
    padding: 24px 0px 26px;
    margin: 0 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    &__border{
       border-top: 1px solid rgba(51, 51, 51, 0.1);
     }
    p{
        font-size: 12px;
        font-weight: 500;
    }
    .socials{
        max-width: 122px;
        display: flex;
        flex: 1;
        justify-content: space-between;
        span{
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            border:  1px solid rgba(10, 41, 16, 0.1);
            border-radius: 50%;
            &:hover{
                background-color:rgba(10, 41, 16, 0.74);
                cursor: pointer;
                transition: all 0.6s ease ;
                & svg {
                    path{
                        fill: white
                    }
                }
            }
        }
        &__contactUs{
            span{
                border:  1px solid rgba(255, 248, 238, 0.74);
                & svg {
                    path{
                        fill: white
                    }
                }
            }
        }
    }
}