.hero-container {
    display: flex;
    align-items: center;
}

.hero {
    overflow-x: hidden;

    img {
        transform: scale(1.5);
    }

    &-text {
        h1 {
            letter-spacing: 1px;

            span {
                color: $black;
            }
        }
        p {
            font-size: 16px;
            line-height: 28px;
            margin-top: 16px;
        }
        li {
            font-size: 16px;
            line-height: 32px;
        }

        ul {
            padding-left: 30px;
            margin-top: 16px;
        }
    }
    button{
        padding: 18px 24px;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        border-width: 2px;
        margin-top: 32px;
        svg{
            path{
                transition: $transition;
            }
        }
    }
}

.digits {
    &-heading {
        font-family: $pt;
        font-size: 2.5vw;
        text-align: center;

        span {
            color: $green;
        }
    }

    &-content {
        display: flex;
        flex-wrap: wrap;
        padding-top: 24px;
    }

    &-item {
        font-family: 'Inter';
        width: 50%;

        // padding: 5vw 0 3vw;
        &:nth-child(2n+1) {
            background-color: #6eb63c;
        }

        &:nth-child(2n) {
            background-color: #c7d30a;
        }

        &__borderTop {
            border-top: 1px solid #FFF8EE33;
        }

        &__title {
            color: white;
        }

        &__titleDescription {
            color: white;
        }

    }
}

.solutions {
    &__title {
        font-family: $pt;
        font-size: 28px;
        color: #333333;
    }

    &__item {
        &--title {
            font-family: $pt;
            color: $green;
        }

        &--titleDescription {
            color: #333333DE;

        }
    }
}