.hero-container {
    display: flex;
    align-items: center;
}
.hero {
    img {
        transform: scale(1.5);
        border-radius: 22px 0 0 22px;
        
    }
    &-text {
        h1 {
            letter-spacing: 1px;

            span {
                color: $black;
            }
        }
        p {
            font-size: 16px;
            line-height: 28px;
            margin-top: 16px;
        }
        li {
            font-size: 16px;
            line-height: 32px;
        }

        ul {
            padding-left: 30px;
            margin-top: 16px;
        }
    }
    button{
        padding: 18px 24px;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        border-width: 2px;
        margin-top: 32px;
        svg{
            path{
                transition: $transition;
            }
        }
    }
}

.digits {
    &-heading {
        font-family: $pt;
        font-size: 2.5vw;
        text-align: center;

        span {
            color: $green;
        }
    }

    &-content {
        display: flex;
        flex-wrap: wrap;
        padding-top: 24px;
    }

    &-item {
        font-family: 'Inter';
        width: 50%;

        // padding: 5vw 0 3vw;
        &:nth-child(2n+1) {
            background-color: #6eb63c;
        }

        &:nth-child(2n) {
            background-color: #c7d30a;
        }

        &__borderTop {
            border-top: 1px solid #FFF8EE33;
        }

        &__title {
            color: white;
        }

        &__titleDescription {
            color: white;
        }

    }
}

.solutions {
    &__title {
        font-family: $pt;
        font-size: 28px;
        color: #333333;
    }

    &__item {
        &--title {
            font-family: $pt;
            color: $green;
        }

        &--titleDescription {
            color: #333333DE;

        }
    }
}
@media (max-width:370px) {
  header {
    margin: 0;
    padding: 16px;

    .burger-btn {
      p {
        width: 20px;
        border-bottom: 1px solid black;
      }
    }
  }
  .menu-container{
    width: 100%;
    padding: 10px;
  }

  .hero {
    padding: 0 16px 40px;
    position: relative;

    .img {
      overflow: hidden;
      border-radius: 10px;

      img {
        width: 100%;
        filter: brightness(50%);
      }
    }
    .hero-container {
      flex-direction: column-reverse;
    }
    &-text {
      h1 {
        font-size: 32px;
        line-height: 32px;
        position: absolute;
        top: 70px;
        text-align: center;
        left: 16px;
        right: 16px;
        z-index: 9;

        span {
          color: white;
        }

        .heading-first {
          background-color: $green;
        }

        .heading-second {
          background-color: $green-yellow;
        }
      }

      p {
        font-size: 14px;
        line-height: 24px;
      }

      ul {
        margin-top: 10px;
        padding-left: 20px;
        li {
          font-size: 14px;
          line-height: 28px;
          
        }
      }
    }
    .c-btn-mobile {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 18px 0;
      color: $black;
      border-color: $black;
      svg {
        path {
          fill: $black;
        }
      }
    }
  }
  .digits {
    padding: 40px 0;
    &-heading {
      padding: 0 16px;
      text-align: left;
      font-size: 28px;
    }

    &-content {
      padding-top: 24px;
    }

    &-item {
      text-align: center;
      padding: 20px 5px;

      &__title {
        font-size: 48px;
        line-height: 52px;
      }

      &__titleDescription {
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
  .solutions{
      padding: 40px 16px;
      &__title{
        text-align: left;
        line-height: 33px;
      }
      &__text{
        margin-top: 16px;
        color: rgba(51, 51, 51, 0.87);
        font-size: 14px;
        line-height: 24px;
      }
      &__item{
        margin-top: 20px;
        &--title{
          font-size: 48px;
          line-height: 52px;
      }
      &--titleDescription{
          font-size: 12px;
          line-height: 16px;          
      }
    }
  }
  footer{
    padding: 16px 16px 20px;
    flex-direction: column-reverse;
    gap: 12px;
    .socials{
      width: 106px;
    }
  }
}
@media screen and ( min-width: 371px) and (max-width:576px){
  header {
    margin: 0;
    padding: auto 16px;

    .burger-btn {
      p {
        width: 20px;
        border-bottom: 1px solid black;
      }
    }
  }
  .hero {
    padding: 32px 16px 40px;
    .img {
      overflow: hidden;
      border-radius: 10px;
      img {
        width: 100%;
        filter: brightness(50%);
      }
    }
    .hero-container {
      flex-direction: column-reverse;
      position: relative;
    }
    &-text {
      h1 {
        font-size: 32px;
        line-height: 32px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 9;

        span {
          color: white;
        }

        .heading-first {
          background-color: $green;
        }

        .heading-second {
          background-color: $green-yellow;
        }
      }

      p {
        font-size: 14px;
        line-height: 24px;
      }

      ul {
        margin-top: 10px;
        padding-left: 20px;

        li {
          font-size: 14px;
          line-height: 28px;
        }
      }
    }
    .c-btn-mobile {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 18px 0;
      color: $black;
      border-color: $black;
      svg {
        path {
          fill: $black;
        }
      }
    }
  }
  .digits {
    &-heading {
      padding: 0 16px;
      text-align: center;
      font-size: 28px;
    }

    &-content {
      padding-top: 24px;
    }

    &-item {
      text-align: center;
      padding: 30px 15px;

      &__title {
        font-size: 64px;
        line-height: 72px;
      }

      &__titleDescription {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
  .solutions{
      p{
        text-align: center;
      }
      &__title{
        line-height: 33px;
      }
      &__text{
        margin: 16px 0 ;
        padding: 0 88px;
        color: rgba(51, 51, 51, 0.87);
        font-size: 14px;
        line-height: 24px;
      }
      &__item{
        max-width:  240px;
        margin: 20px auto;
        &--title{
          font-size: 64px;
          line-height: 72px;
      }
      &--titleDescription{
          font-size: 14px;
          line-height: 20px;          
      }
    }
  }
}
@media screen and (min-width: 577px) and (max-width:1124px){
  .hero {
    padding-left: 16px;
    padding-right: 16px;
    &-container{
      max-width: 700px;
      margin: 60px auto;
    }
    .img {
      overflow: hidden;
      border-radius: 10px;
      img {
        width: 100%;
        filter: brightness(50%);
      }
    }
    .hero-container {
      flex-direction: column-reverse;
      position: relative;
    }
    &-text {
      h1 {
        font-size: 48px;
        line-height: 48px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 9;

        span {
          color: white;
        }

        .heading-first {
          background-color: $green;
        }

        .heading-second {
          background-color: $green-yellow;
        }
      }

      p {
        font-size: 16px;
        line-height: 28px;
      }

      ul {
        margin-top: 10px;
        padding-left: 20px;
        li {
          font-size: 16px;
          line-height: 32px;
        }
      }
    }
    .c-btn-mobile {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 18px 0;
      color: $black;
      border-color: $black;
      svg {
        path {
          fill: $black;
        }
      }
    }
  }
  .digits {
    &-heading {
      padding: 0 16px;
      text-align: center;
      font-size: 40px;
      line-height: 48px;
    }

    &-content {
      padding-top: 24px;
    }

    &-item {
      text-align: center;
      padding: 40px 20px;

      &__title {
        font-size: 84px;
        line-height: 92px;
      }

      &__titleDescription {
        font-size: 14px;
        line-height: 20px;
        width: 60%;
        margin: 0 auto;
      }
    }
  }
  .solutions{
    p{
      text-align: center;
    }
    &__title{
      line-height: 33px;
    }
    &__text{
      max-width: 50%;
      margin: 16px auto 50px;
      color: rgba(51, 51, 51, 0.87);
      font-size: 14px;
      line-height: 24px;
    }
    &__content{
      padding: 0 2%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    &__item{
      width: 35%;
      display: flex;
      align-items: center;
      gap: 2%;
      margin-bottom: 7vw;
      &--title{
        font-size: 7.5vw;
        line-height: 100px;
      }
      &--titleDescription{
        font-size: 1.5vw;
        line-height: 2vw;          
      }
    }
  }
}
@media screen and (min-width:1124px) and (max-width:1160px){
    .hero{
      &-container{
        gap: 48px;
      }
      h1{
        font-size: 48px;
        line-height: 57px;
        .heading-first{
          color: $green;
        }
        .heading-second{
          color: $black;
        }
      }
      &-text{
        min-width: 476px;
        margin-left: 36px;
        p {
          font-size: 16px;
          line-height: 28px;
          margin-top: 16px;
        }
        li{
          font-size: 16px;
          line-height: 32px;
        }
        ul{
          padding-left: 30px;
          margin-top: 16px;
        }
      }
      .img{
        img{
          transform: none;
          height: 500px;
        }
      }

    }
    .digits {
      &-heading {
        padding: 0 16px;
        text-align: center;
        font-size: 40px;
        line-height: 48px;
      }
  
      &-content {
        padding-top: 24px;
      }
  
      &-item {
        text-align: center;
        padding: 40px 20px;
  
        &__title {
          font-size: 84px;
          line-height: 92px;
        }
  
        &__titleDescription {
          font-size: 14px;
          line-height: 20px;
          width: 60%;
          margin: 0 auto;
        }
      }
    }
    .solutions{
      p{
        text-align: center;
      }
      &__title{
        line-height: 33px;
      }
      &__text{
        max-width: 50%;
        margin: 16px auto 50px;
        color: rgba(51, 51, 51, 0.87);
        font-size: 14px;
        line-height: 24px;
      }
      &__content{
        padding: 0 2%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
      }
      &__item{
        width: 35%;
        display: flex;
        align-items: center;
        gap: 2%;
        margin-bottom: 7vw;
        &--title{
          font-size: 7.5vw;
          line-height: 100px;
        }
        &--titleDescription{
          font-size: 1.5vw;
          line-height: 2vw;          
        }
      }
    }
}
@media screen and (min-width: 1160px) and (max-width: 1400px){
  .hero{
    &-container{
      gap: 48px;
    }
    h1{
      font-size: 48px;
      line-height: 57px;
      .heading-first{
        color: $green;
      }
      .heading-second{
        color: $black;
      }
    }
    &-text{
      min-width: 486px;
      margin-left: calc(160px - (1400px - 100vw)/2);
      p {
        font-size: 16px;
        line-height: 28px;
        margin-top: 16px;
      }
      li{
        font-size: 16px;
        line-height: 32px;
      }
      ul{
        padding-left: 30px;
        margin-top: 16px;
      }
    }
    .img{
      img{
        transform: none;
        height: 500px;
      }
    }

  }
  .digits {
    &-heading {
      padding: 0 16px;
      text-align: center;
      font-size: 40px;
      line-height: 48px;
    }

    &-content {
      padding-top: 24px;
    }

    &-item {
      text-align: center;
      padding: 40px 20px;

      &__title {
        font-size: 84px;
        line-height: 92px;
      }

      &__titleDescription {
        font-size: 14px;
        line-height: 20px;
        width: 60%;
        margin: 0 auto;
      }
    }
  }
  .solutions{
    p{
      text-align: center;
    }
    &__title{
      line-height: 33px;
    }
    &__text{
      max-width: 522px;
      margin: 16px auto 50px;
      color: rgba(51, 51, 51, 0.87);
      font-size: 14px;
      line-height: 24px;
    }
    &__content{
      padding: 0 2%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    &__item{
      width: 35%;
      display: flex;
      align-items: center;
      gap: 2%;
      margin-bottom: 50px;
      &--title{
        font-size: 84px;
        line-height: 100px;
      }
      &--titleDescription{
        font-size: 18px;
        line-height: 2vw;          
      }
    }
  }
}
@media screen and (min-width: 1400px) and (max-width: 1600px){
  .hero{
    &-container{
      gap: calc(225px - (1600px - 100vw)/2);
    }
    h1{
      font-size: 64px;
      line-height: 76px;
      .heading-first{
        color: $green;
      }
      .heading-second{
        color: $black;
      }
    }
    &-text{
      min-width: 539px;
      margin-left: calc(36px);
      p {
        font-size: 18px;
        line-height: 32px;
        margin-top: 16px;
      }
      li{
        font-size: 18px;
        line-height: 36px;
      }
      ul{
        padding-left: 30px;
        margin-top: 16px;
      }
    }
    .img{
      img{
        transform: none;
        height: 570px;
      }
    }

  }
  .digits {
    &-heading {
      margin-bottom: 70px;
      text-align: center;
      font-size: 48px;
      line-height: 57px;
    }

    &-item {
      text-align: center;
      padding: 100px 0 50px;

      &__title {
        font-size: 96px;
        line-height: 100px;
      }

      &__titleDescription {
        font-size: 18px;
        line-height: 24px;
        width: 60%;
        margin: 0 auto;
      }
    }
  }
  .solutions{
    p{
      text-align: center;
    }
    &__title{
      line-height: 48px;
      margin-top: 57px;
    }
    &__text{
      max-width: 522px;
      margin: 16px auto 70px;
      color: rgba(51, 51, 51, 0.87);
      font-size: 18px;
      line-height: 32px;
    }
    &__content{
      padding: 0 2%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    &__item{
      width: 35%;
      display: flex;
      align-items: center;
      gap: 2%;
      margin-bottom: 50px;
      &--title{
        font-size: 84px;
        line-height: 100px;
      }
      &--titleDescription{
        font-size: 18px;
        line-height: 2vw;          
      }
    }
  }
}
@media  (min-width: 1600px) {
  .hero{
    &-container{
      gap: calc(221px );
    }
    h1{
      font-size: 64px;
      line-height: 76px;
      .heading-first{
        color: $green;
      }
      .heading-second{
        color: $black;
      }
    }
    &-text{
      min-width: 539px;
      max-width: 540px;
      margin-left: calc(60px + (100vw - 1600px)/2);
      p {
        font-size: 18px;
        line-height: 32px;
        margin-top: 16px;
      }
      li{
        font-size: 18px;
        line-height: 36px;
      }
      ul{
        padding-left: 30px;
        margin-top: 16px;
      }
    }
    .img{
      img{
        transform: none;
        height: 684px;
      }
    }

  }
  .digits {
    &-heading {
      margin-bottom: 70px;
      text-align: center;
      font-size: 48px;
      line-height: 57px;
    }

    &-item {
      text-align: center;
      padding: 100px 0 50px;

      &__title {
        font-size: 96px;
        line-height: 100px;
      }

      &__titleDescription {
        font-size: 18px;
        line-height: 24px;
        width: 60%;
        margin: 0 auto;
      }
    }
  }
  .solutions{
    p{
      text-align: center;
    }
    &__title{
      line-height: 48px;
      margin-top: 57px;
    }
    &__text{
      max-width: 522px;
      margin: 16px auto 70px;
      color: rgba(51, 51, 51, 0.87);
      font-size: 18px;
      line-height: 32px;
    }
    &__content{
      padding: 0 2%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    &__item{
      width: 35%;
      display: flex;
      align-items: center;
      gap: 2%;
      margin-bottom: 50px;
      &--title{
        font-size: 84px;
        line-height: 100px;
      }
      &--titleDescription{
        font-size: 18px;
        line-height: 2vw;          
      }
    }
  }
}
