$green: rgba(110,182,60,1);
$black: rgba(51,51,51,1);
$black-light: rgba(51,51,51,0.87);
$black-white: rgba(0, 0, 0, 0.85);

$pt: 'PTRootUIWebBold';
$green-yellow:rgba(199, 211, 10, 1);
$transition: all 0.3s ease;

