.c-btn {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 50px;
    white-space: nowrap;
}
.c-btn-outline-green{
    background-color: transparent;
    color: $green;
    border: 1px solid $green;
    transition: $transition;
    &:hover{
        background-color: $green;
        color: white;
        svg{
            path{
                fill: white;
            }
        }
    
    }
}
.c-btn-outline-black{
    background-color: transparent;
    color: $black;
    border: 1px solid $black;
}

.c-btn-filled-green{
    border-color: transparent;
    background-color: $green;
    color: white;
}

.c-btn-menu{
    padding: 22px 40px;
    font-size: 20px;
    margin: 54px auto;
    width: 320px;
    @media(max-width:400px){
        font-size: 15px;
        padding: 10px 14px;
        width: 220px;
    }
    svg{
        path{
            fill: $black
        }
    }
}
