@font-face {
	font-family: 'PTRootUIWebBold';
	src:
		url('../public/assets/fonts/PT-Root-UI_Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src:
    url('../public/assets/fonts/Inter-Regular.ttf');
    font-weight: 400;
}
@font-face {
  font-family: 'Inter';
  src:
    url('../public/assets/fonts/Inter-Medium.ttf');
    font-weight: 500;
}
@font-face {
  font-family: 'Inter';
  src:
    url('../public/assets/fonts/Inter-SemiBold.ttf');
    font-weight: 600;
}
